<h1>New Post</h1>

<%= form_for [current_user, @post] do |f| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
    </div>
  <% end %>
  <div class='field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='field'>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 12, cols: 35 %>
  </div>
  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
